@media only screen and (max-width: 1200px) {
    .sbox {
        width: 340px;
        height: auto;
    }

    .simg>img {
        width: 290px;
        height: 240px;
    }

    .intro p {
        font-size: 1.3rem;
    }

    .logo>img {
        width: 9rem;
    }

    .h-img>img {
        width: 540px;
        height: 540px;
    }


    .intro button {
        width: 200px;
        font-size: 1.2rem;
    }
}

@media (max-width: 1080px) {
    .nav .nav-list>li>a {
        font-size: 1.2rem;
    }

    li>button {
        padding: 6px 14px;
    }

    .intro p {
        font-size: 1.2rem;
    }

    .h-img>img {
        width: 450px;
        height: 450px;
    }

    .logo>img {
        width: 9rem;
    }

    .intro button {
        width: 180px;
        font-size: 1.2rem;
    }


}

@media (max-width:990px) {
    .logo>img {
        width: 8.8rem;
    }

    .h-img>img {
        width: 400px;
        height: 400px;
    }

    .mainBox {
        flex-direction: column;
    }
}



@media (max-width:986px) {


    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .head {
        position: sticky;
        background-color: #ffffff;
        width: 100%;
        top: 0;
        z-index: 66;
    }

    .h-nav {
        background-color: #ffffff;
        z-index: 33;
    }

    .nav-list {
        display: flex;
        position: fixed;
        top: 8%;
        left: -100%;
        flex-direction: column;
        background-color: #ffffff;
        width: 100%;
        height: auto;
        z-index: 445;

    }

    .nav-list.active {
        left: 0;
        align-items: center;
    }

    .nav-items {
        display: flex;
        flex-direction: column;
    }

    .dropdown-k {
        top: 0;
        position: relative;
        box-shadow: none;
        border: none;
        border-radius: 0;
        width: 100%;
    }

    .nav .nav-list .career-menu .dropdown-k {
        width: 100%;
        padding: 0;
    }

    .other-s,
    .career-menu,
    .kid-menu {
        text-align: center;
        width: 100%;
    }



    .h-nav {
        justify-content: space-between;
    }

    .intro p {
        font-size: 0.8rem;
    }

    .hero {
        align-items: flex-start;
    }

    .intro {
        margin-top: 3rem;
    }

    .intro>button {
        width: 140px;
        padding: 8px 6px;
    }

    .h-img>img {
        width: 350px;
        height: 350px;
    }
}

@media (max-width: 786px) {

    .h-img>img {
        width: 280px;
        height: 280px;
    }

    .intro>button {
        width: 132px;
        padding: 8px 6px;
    }


}

@media (max-width:618px) {
    .hero {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 1rem;
    }

    .flex-container {
        justify-content: center;
    }

    .intro>button {
        padding: 6px 8px;
    }

    .intro>p {
        text-align: justify;
    }

    .t {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        align-items: flex-start;
        padding-top: 1rem;
    }

    .t>a {
        margin: 0;
        padding: 0;

    }

    .l {
        margin: 0;
    }


    .c {
        /* justify-content: space-between; */
        flex-direction: column-reverse;
    }

    .c>p {
        width: 100%;
        font-size: 1rem;
        margin: 1rem;
        /* display: block; */
    }

    .c>.images{
        width: 100%;
        justify-content: space-around;
        margin: 0.6rem;
    }

    .ff {
        margin: 1rem 0;
        align-items: center;
        /* height: 8vh; */
    }

    .t {
        flex-direction: row;
        align-items: center;
        padding: 0;
    }

    .t>a {
        font-size: 1rem;
        margin: 0 1rem;
        color: #1e1e1e;
    }
}

@media (min-width: 986px) {
    .dropdown-k {
        left: 24%;
    }

    .dropdown-c {
        left: 44%;
    }

    .dropdown-s {
        left: 63%;
    }
}


@media (min-width: 1124px) {
    .dropdown-k {
        left: 26%;
    }

    .dropdown-c {
        left: 44%;
    }

    .dropdown-s {
        left: 64%;
    }
}

@media (min-width: 1200px) {
    .dropdown-k {
        left: 33%;
    }

    .dropdown-c {
        left: 48%;
    }

    .dropdown-s {
        left: 66%;
    }
}

@media (min-width: 1304px) {
    .dropdown-k {
        left: 38%;
    }

    .dropdown-c {
        left: 54%;
    }

    .dropdown-s {
        left: 70%;
    }
}

@media (min-width: 1400px) {
    .dropdown-k {
        left: 43%;
    }

    .dropdown-c {
        left: 58%;
    }

    .dropdown-s {
        left: 72%;
    }
}

@media (min-width: 2500px) {
    .dropdown-k {
        left: 46%;
    }

    .dropdown-c {
        left: 56%;
    }

    .dropdown-s {
        left: 64%;
    }
}

@media (max-width:376px) {
    .items {
        width: 18rem;
    }

    .items>img {
        width: 16rem;
    }

    .items>p {
        font-size: 0.9rem;
    }

    .he>h2 {
        font-size: 2rem;
    }

}

@media (max-width: 1024px) {

    .contact-container {
        width: 90%;
        min-width: auto;
        margin: 20px;
        /* box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2); */
    }

    .contactInfo {
        top: 0;
        height: 550px;
        position: relative;
        box-shadow: none;
    }

    .contact-container .contactForm {
        position: relative;
        /* width: 100%; */
        height: 550px;
        box-shadow: none;
    }
}

@media (max-width:986px) {
    .contact-container .contactForm .formBox {
        padding-top: 16px;
    }

    .contactInfo {
        margin-top: 4rem;
    }

}

@media (max-width:856px){
    .contact-container{
        /* width: 100%; */
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .contact-container .contactForm .formBox .inputs.w50{
        width: 100%;
    }

    .contact-container .contactForm{
        padding: 12px 12px;
        width: calc(100% - 42px);
        margin: 12px;
        height: 480px;
    }

    .contact-container .contactInfo{
        position: static;
        margin-top: 10rem;
        padding: 0 0 0 24px;
        flex-direction: row;
        width: 100%;
        /* width: 100%; */
    }

    ul.sci{
        margin: 0 2rem;
    }

    .contact-container .contactInfo ul.sci>li>a>img{
        margin: 0 1rem;
    }
}

@media(max-width:632px){
    .contact-container .contactInfo{
        flex-direction: column;
        justify-content: center;
    }

    ul.sci{
        margin: 0;
        padding: 0;
    }
}