@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.container {
    max-width: 1400px;
    width: 86%;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9vh;
    width: 100%;
    box-shadow: 0px 6px 24px #0000000a;
}

.anav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.anav>h1 {
    font-size: 2rem;
    color: #00609F;
}

.arduino {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 60vh; */
}

.ar {
    display: flex;
    /* outline: 2px solid green; */
    margin: 2rem 0;
}

.nav-list {
    display: flex;
    align-items: center;
    /* outline: 2px solid red; */

}

.logo{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}


.logo>img {
    max-width: 100%;
    width: 66%;
}


.nav-list>li {
    list-style-type: none;
    /* outline: 2px solid red; */
}

.nav-list>li {
    font-size: 1.4rem;
    color: #333333;
    font-weight: 500;
    padding: 0.2rem;
    text-decoration: none;
    margin: 0.4rem;
}

button {
    padding:8px 18px;
    outline: none;
    border: 0;
    background-color: #008deb;
    color: #ffff;
    border-radius: 5px;
    font-size: 1.2rem;
    box-shadow: 0px 10px 22px rgba(0, 0, 0, 0.09);
    cursor: pointer;
}


.hamburger {
    cursor: pointer;
}


.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    background-color: #00609F;
}




.aimg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-fluid {
    width: 30rem;
    height: 24rem;

    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
    background-blend-mode: darken;
    border-radius: 12px;
}

.a1 {
    padding: 0px 34px;
}

h1,
h2 {
    color: #014c7e;
    font-size: 2.6rem;
}

p {
    color: #1c2d38;
    font-size: 1.4rem;
    margin-top: 1rem;
    text-align: justify;
}

.ar4 {
    padding: 12px;
    text-align: center;
}

.box1 {
    display: flex;
    justify-content: center;
    /* height: 60vh; */
}

ol>li {
    list-style-image: url(check.png);
    text-align: left;
}

.head3>span {
    font-size: 1.2rem;

}


.box {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.head3 {
    text-align: left;
}


.h2>p {
    color: #05283f;
    font-size: 1.8rem;
    word-wrap: break-word;
    margin-bottom: 0.6rem;
}

.h2>span {
    font-size: 1.2rem;
}

.lis {
    margin-left: 1.2rem;
}

ol {
    margin-top: 0.5rem;
}

.lis>ol>li {
    color: #0e0e0e;
    line-height: 2.2rem;
    font-size: 1.2rem;
}

.d3>p {
    font-size: 1.4rem;
    color: #111112;
    text-align: justify;
}

.d3>span {
    font-size: 16rem;
}

/*  */
.anav .nav-list {
    display: flex;
    justify-content: center;
}

li.ali {
    list-style-type: none;
    width: auto;
    display: flex;
    align-items: center;
    margin: 0.4rem;
}


.anav .nav-list>li{
    font-size: 1.4rem;
    color: #222222;
    font-weight: 500;
    padding: 0.2rem;
    text-decoration: none;
    margin: 0.6rem;
    cursor: pointer;
}

.anav .nav-list>li>a:hover {
    color: #0088E2;
    /* padding: 8px 10px; */
    opacity: 100%;
    background-color: #0088e20c;
}


.dropdown-k {
    display: none;
    position: absolute;
    top: 8%;
    background-color: rgba(253, 253, 253, 0.904);
    padding: 8px 12px;
    border-radius: 5px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.04);
    z-index: 1;
    font-size: 0.8rem;
    width: 14rem;
    color: #333;
    font-weight: 400;
    border: 0.1rem solid #cacaca;
}


.dropdown-k>ul>li>a {
    list-style-type: none;
    text-decoration: none;
    padding: 10px 12px;
    color: #333;
}

.dropdown-s {
    width: 12rem;
}

.dropdown-k>ul>li:hover {
    background-color: #3bb1ff2d;
    border-left: 2px solid #00609F;


}

.dropdown-k>ul>li>a:hover {
    color: #00609F;
}

.anav .nav-list .kid-menu:hover .dropdown-k {
    display: inline-block;
}

.anav .nav-list .career-menu:hover .dropdown-k {
    display: inline-block;
}

.anav .nav-list .other-s:hover .dropdown-k {
    display: inline-block;
}


@media (min-width: 986px) {
    .dropdown-k {
        left: 24%;
    }

    .dropdown-c {
        left: 44%;
    }

    .dropdown-s {
        left: 63%;
    }
}


@media (min-width: 1124px) {
    .dropdown-k {
        left: 26%;
    }

    .dropdown-c {
        left: 44%;
    }

    .dropdown-s {
        left: 64%;
    }
}

@media (min-width: 1200px) {
    .dropdown-k {
        left: 34%;
    }

    .dropdown-c {
        left: 52%;
    }

    .dropdown-s {
        left: 68%;
    }
}

@media (max-width: 1304px) {
    .dropdown-k {
        left: 40%;
    }

    .dropdown-c {
        left: 54%;
    }

    .dropdown-s {
        left: 70%;
    }
}

@media (min-width: 1400px) {
    .dropdown-k {
        left: 47%;
    }

    .dropdown-c {
        left: 60%;
    }

    .dropdown-s {
        left: 73%;
    }
}

@media (min-width: 2500px) {
    .dropdown-k {
        left: 50%;
    }

    .dropdown-c {
        left: 57%;
    }

    .dropdown-s {
        left: 65%;
    }
}

@media (max-width:376px) {
    .items {
        width: 18rem;
    }

    .items>img {
        width: 16rem;
    }

    .items>p {
        font-size: 0.9rem;
    }

    .he>h2 {
        font-size: 2rem;
    }

}